.remove-btn {
  margin-right: 0.5rem;
}
.fade-enter {
  opacity: 0.01;
}
.fade-enter-active {
  opacity: 1;
  transition: opacity 1000ms ease-in;
}
.fade-exit {
  opacity: 1;
}
.fade-exit-active {
  opacity: 0.01;
  transition: opacity 1000ms ease-in;
}
.my-flex-container {
  position: relative;
  display: flex;
  height: 100%;
  justify-content: center;
  width: 100%;
}
.my-flex-innercontainer {
  margin: auto;
}

.gift-background {
  background: url(/static/media/gift-background.1636907c.jpg) 0% 0% / cover;
  padding: 105px 0 50px;
  top: 0;
  position: absolute;
  width: 100%;
  min-height: 100vh;
  z-index: -1;
}
